.inicio_sesion{
    margin: 0 auto;
    width: 20%;
    min-width: 350px;
   /* background-image: url(/imagenes/Fondo.png);*/
}
.fondo{
    background-image: url(/imagenes/Fondo.jpg);
    text-align: center;
    /*
    background-color: blue;
    background-image: url(/imagenes/Fondo.jpg);
    height: 1134px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/

}
